@import url(https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Condensed:400,700|Exo+2:400,600,700|Pacifico&subset=latin,latin-ext,cyrillic,cyrillic-ext);
.header-title, .content-title, .skills-title, .examples-title, .contacts-title { font-size: 40px; font-family: "Poiret One", cursive; font-weight: 600; margin: 0 0 40px 0; padding: 0 0 0 0; letter-spacing: 2px; text-transform: uppercase; text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), 1px -1px 2px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.25), 0px -1px 2px rgba(0, 0, 0, 0.25); }

.content-block, .skills-block, .examples-block, .contacts-block { max-width: 1170px; margin: 0 auto; padding: 0px 20px; box-sizing: border-box; font-size: 18px; }

.skills-block__html, .skills-block__css, .skills-block__psd, .skills-block__inter, .skills-block__adaptive, .skills-block__jquery, .skills-block__bootstrap, .skills-block__important, .skills-block__git, .skills-block__sass, .skills-block__gulp, .skills-block__other { display: block; width: 64px; height: 100px; background: transparent url("../img/web-skills-2.png") no-repeat; position: absolute; top: 0; left: 0; -webkit-filter: grayscale(30%); filter: grayscale(30%); }

.examples-block__threezine, .examples-block__flexi, .examples-block__brandi { display: block; float: left; text-decoration: none; margin: 0 20px 0px 0; padding: 13px 0 0; width: 15%; max-height: 220px; overflow: hidden; font-family: "Pacifico", cursive; font-size: 30px; line-height: 1.5; color: #0eb493; -webkit-filter: grayscale(30%); filter: grayscale(30%); box-sizing: border-box; }
.examples-block__threezine img, .examples-block__flexi img, .examples-block__brandi img { display: block; width: 100%; height: auto; outline: none; }
.examples-block__threezine:hover, .examples-block__flexi:hover, .examples-block__brandi:hover { -webkit-filter: none; }
.examples-block__threezine:last-child, .examples-block__flexi:last-child, .examples-block__brandi:last-child { margin-right: 0; }

body { width: 100%; height: 100vh; font-family: "Exo 2", sans-serif; font-size: 12px; color: #ffffff; line-height: 1.3; background: url("../upload/computer-lamp-2_new2.jpg") 50% 40% no-repeat fixed; background-size: cover; position: relative; text-align: center; }

.container { position: relative; padding: 70px 0 0; box-sizing: border-box; }

.header, .content, .skills, .examples, .contacts { margin: 0 0 90px 0; }

.header-title { margin: 0 0 0 0; }

.header-annot, .examples-annot { font-size: 19px; text-transform: uppercase; text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), 1px -1px 2px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.25), 0px -1px 2px rgba(0, 0, 0, 0.25); }

.block-wrap { padding: 40px 0; -webkit-transition: 1.2s; -moz-transition: 1.2s; transition: 1.2s; }
.block-wrap:hover, .block-wrap:focus, .block-wrap:active { background: rgba(0, 0, 0, 0.8); }

.content-block { line-height: 2; text-align: justify; text-indent: 2em; }

.content-txt__link { text-decoration: none; color: rgba(255, 255, 250, 0.5); font-weight: 700; }
.content-txt__link:hover, .content-txt__link:focus, .content-txt__link:active { color: inherit; }

.skills-block { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; align-content: space-between; }
.skills-block__box { max-width: 30%; text-align: left; margin: 0 15px 30px 0; padding: 0 0 0 70px; box-sizing: border-box; position: relative; }
.skills-block__box:last-child { margin-right: 0; }
.skills-block__title { margin: 0 0px 0px 0; padding: 0 0 0 0; font-family: "Roboto Condensed", sans-serif; font-size: 21px; }
.skills-block__html { background-position: -18px -1px; }
.skills-block__css { background-position: -118px 0; }
.skills-block__psd { background-position: -418px -300px; }
.skills-block__inter { background-position: -418px 0; }
.skills-block__adaptive { background-position: -718px -400px; }
.skills-block__jquery { background-position: -319px -100px; }
.skills-block__bootstrap { background-position: -218px 0px; }
.skills-block__important { background-position: -718px -503px; }
.skills-block__git { background-position: -18px -200px; }
.skills-block__sass { background-position: -318px 0; }
.skills-block__gulp { background-position: -318px -199px; }
.skills-block__other { background-position: -718px -199px; }

.examples-title { margin: 0 0 0 0; }

.examples-block { position: relative; }
.examples-block__box { margin: 0 0 20px; text-align: left; position: relative; }
.examples-block__box::after { clear: both; content: ""; display: table; }
.examples-block__annot { font-size: 18px; line-height: 2; margin: 0 0 0 0; padding: 0 0 0 0; float: left; display: block; max-width: 80%; box-sizing: border-box; }
.examples-block__annot a { text-decoration: none; color: rgba(255, 255, 250, 0.5); font-weight: 600; }
.examples-block__annot a:hover { color: inherit; }
.examples-block__new-data { font-size: 22px; line-height: 2; text-transform: uppercase; }
.examples-block .commercial { outline: none; }
.examples-block .com-link { max-width: 30%; max-height: 500px; margin: 0 0.5%; outline: none; overflow: hidden; -webkit-filter: grayscale(50%); filter: grayscale(50%); }
.examples-block .com-link img { width: 100%; max-height: 100%; height: auto; display: block; margin: 0 auto; outline: none; }
.examples-block .com-link:hover { -webkit-filter: none; filter: none; }

.contacts { margin-bottom: 0; }

.contacts-block::after { clear: both; content: ""; display: table; }
.contacts-block__element { width: 33.33%; float: left; }

@media screen and (max-width: 770px) { .skills-block__box { max-width: 45%; margin: 0 0 20px 0; }
  .header-title, .content-title, .skills-title, .examples-title, .contacts-title { font-size: 30px; }
  .header-annot, .examples-annot, .examples-annot { font-size: 18px; }
  .slick-next { right: 0; }
  .slick-prev { left: 0; } }
@media screen and (max-width: 720px) { .examples-block__threezine, .examples-block__flexi, .examples-block__brandi, .examples-block__annot { max-width: 100%; padding: 5px 15px; float: none; margin: 0 auto; background-size: inherit; background-position: 50% 50%; text-align: center; box-sizing: border-box; text-align: justify; }
  .examples-block__threezine, .examples-block__flexi, .examples-block__brandi { width: 50%; } }
@media screen and (max-width: 645px) { .skills-block__box { max-width: 100%; margin: 0 0 15px 0; }
  .contacts-block__element { width: 100%; float: none; } }
@media screen and (max-width: 420px) { body { background: url("../upload/computer-lamp-2_new2.jpg") no-repeat fixed; background-size: cover; }
  .skills-block__html, .skills-block__css, .skills-block__psd, .skills-block__inter, .skills-block__adaptive, .skills-block__jquery, .skills-block__bootstrap, .skills-block__important, .skills-block__git, .skills-block__sass, .skills-block__gulp, .skills-block__other { display: none; }
  .skills-block__box { padding: 0 15px; } }
