@media screen and (max-width: 770px)
	.skills-block__box
		max-width: 45%
		margin: 0 0 20px 0
	%title
		font-size: 30px
	.header-annot, .examples-annot
		font-size: 18px
	.slick-next
		right: 0
	.slick-prev
		left: 0
@media screen and (max-width: 720px)
	%example-logo,
	.examples-block__annot
		max-width: 100%
		padding: 5px 15px
		float: none
		margin: 0 auto
		background-size: inherit
		background-position: 50% 50%
		text-align: center
		box-sizing: border-box
		text-align: justify
	%example-logo
		width: 50%
@media screen and (max-width: 645px)
	.skills-block__box
		max-width: 100%
		margin: 0 0 15px 0
	.contacts-block__element
		width: 100%
		float: none
@media screen and (max-width: 420px)
	body
		background: url('../upload/computer-lamp-2_new2.jpg') no-repeat fixed
		background-size: cover
	%logo-link
		display: none
	.skills-block__box
		padding: 0 15px