@import bourbon/bourbon

=transition($time)
	-webkit-transition-duration: $time
	-o-transition-duration: $time
	-moz-transition-duration: $time
	transition-duration: $time

=flex-mix($spaceContent, $wrap)
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-justify-content: $spaceContent
	justify-content: $spaceContent
	-webkit-flex-wrap: $wrap
	-ms-flex-wrap: $wrap
	flex-wrap: $wrap
	align-content: $spaceContent