@import bourbon/bourbon

//////////*/////////// _VARIABLES_ //////////*///////////
$contWidth: 1200px
$ColorWhite: #ffffff
$colorGreen: #0eb493
$colorAnnotsLink: rgba(255,255,250,0.5)
$fontMain: 'Exo 2', sans-serif
$fontTitle: 'Poiret One', cursive
$fontMinTitle: 'Roboto Condensed', sans-serif
$fontSizeTitle: 40px
$textShadow: 1px 0px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), 1px -1px 2px rgba(0, 0, 0, 0.25),0px 1px 2px rgba(0, 0, 0, 0.25), 0px -1px 2px rgba(0, 0, 0, 0.25)

//////////*/////////// _WORK CLASSES_ //////////*///////////
%title
	font:
		size: $fontSizeTitle
		family: $fontTitle
		weight: 600
	margin: 0 0 40px 0
	padding: 0 0 0 0
	letter-spacing: 2px
	text:
		transform: uppercase
		shadow: $textShadow

%block
	max-width: 1170px
	margin: 0 auto
	padding: 0px 20px
	box-sizing: border-box
	font-size: 18px

%logo-link
	display: block
	width: 64px
	height: 100px
	background: transparent url('../img/web-skills-2.png') no-repeat
	position: absolute
	top: 0 
	left: 0
	-webkit-filter: grayscale(30%)
	filter: grayscale(30%)
	// &:hover, &:active, &:focus
	// 	-webkit-filter: none

%example-logo
	display: block
	float: left
	text-decoration: none
	margin: 0 20px 0px 0
	padding: 13px 0 0
	width: 15%
	max-height: 220px
	overflow: hidden
	font-family: 'Pacifico', cursive
	font-size: 30px
	line-height: 1.5
	color: $colorGreen
	-webkit-filter: grayscale(30%)
	filter: grayscale(30%)
	box-sizing: border-box
	& img
		display: block
		width: 100%
		height: auto
		outline: none
	&:hover
		-webkit-filter: none
	&:last-child
		margin-right: 0