//////////*/////////// _IMPORTS_ //////////*///////////
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Condensed:400,700|Exo+2:400,600,700|Pacifico&subset=latin,latin-ext,cyrillic,cyrillic-ext)
@import bourbon/bourbon
@import myMixins
@import workClasses

//////////*/////////// _GLOBAL STYLES_ //////////*///////////
body
	width: 100%
	height: 100vh
	font-family: $fontMain
	font-size: 12px
	color: $ColorWhite
	line-height: 1.3
	background: url('../upload/computer-lamp-2_new2.jpg') 50% 40% no-repeat fixed 
		size: cover
	position: relative
	text-align: center

//////////*/////////// _PERSONAL STYLES_ //////////*///////////
.container
	position: relative
	padding: 70px 0 0
	box-sizing: border-box
.header,
.content,
.skills,
.examples,
.contacts
	margin: 0 0 90px 0

.header-title,
.content-title,
.skills-title,
.examples-title,
.contacts-title
	@extend %title

.header-title
	margin: 0 0 0 0

.header-annot
	font-size: 19px
	text-transform: uppercase
	text-shadow: $textShadow
.block-wrap
	padding: 40px 0
	+transition(1.2s)
	&:hover, &:focus, &:active
		background: rgba(0,0,0,0.8)

.content-block,
.skills-block,
.examples-block,
.contacts-block
	@extend %block

.content-block
	line-height: 2
	text:
		align: justify
		indent: 2em

.content-txt__link
	text-decoration: none
	color: $colorAnnotsLink
	font-weight: 700
	&:hover, &:focus, &:active
		color: inherit
.skills-block
	+flex-mix(space-between, wrap)
	&__box
		max-width: 30%
		text-align: left
		margin: 0 15px 30px 0
		padding: 0 0 0 70px
		box-sizing: border-box
		position: relative
		&:last-child
			margin-right: 0
	&__title
		margin: 0 0px 0px 0
		padding: 0 0 0 0
		font-family: $fontMinTitle
		font-size: 21px
	&__html
		@extend %logo-link
		background-position: -18px -1px
	&__css
		@extend %logo-link
		background-position: -118px 0
	&__psd
		@extend %logo-link
		background-position: -418px -300px
	&__inter
		@extend %logo-link
		background-position: -418px 0
	&__adaptive
		@extend %logo-link
		background-position: -718px -400px
	&__jquery
		@extend %logo-link
		background-position: -319px -100px
	&__bootstrap
		@extend %logo-link
		background-position: -218px 0px
	&__important
		@extend %logo-link
		background-position: -718px -503px
	&__git
		@extend %logo-link
		background-position: -18px -200px
	&__sass
		@extend %logo-link
		background-position: -318px 0
	&__gulp
		@extend %logo-link
		background-position: -318px -199px
	&__other
		@extend %logo-link
		background-position: -718px -199px

.examples-title
	margin: 0 0 0 0
.examples-annot
	@extend .header-annot
.examples-block
	position: relative
	&__box
		margin: 0 0 20px
		text-align: left
		position: relative
		+clearfix
	&__annot
		font-size: 18px
		line-height: 2
		margin: 0 0 0 0
		padding: 0 0 0 0
		float: left
		display: block
		max-width: 80%
		box-sizing: border-box
		a 
			text-decoration: none
			color: $colorAnnotsLink
			font-weight: 600
			&:hover
				color: inherit
	&__threezine, &__flexi, &__brandi
		@extend %example-logo
	&__new-data
		font-size: 22px
		line-height: 2
		text-transform: uppercase
	& .commercial
		outline: none

	& .com-link
		max-width: 30%
		max-height: 500px
		margin: 0 0.5%
		outline: none
		overflow: hidden
		-webkit-filter: grayscale(50%)
		filter: grayscale(50%)
		& img 
			width: 100%
			max-height: 100%
			height: auto
			display: block
			margin: 0 auto
			outline: none
		&:hover 
			-webkit-filter: none
			filter: none

.contacts
	margin-bottom: 0
.contacts-block
	+clearfix
	&__element
		width: 33.33%
		float: left

//////////*/////////// _MEDIA INQUIRY_ //////////*///////////
@import media